
@media (max-width: 991.98px) {

    /* header */

    .header__inner{
        justify-content: space-between;
    }

    /* ************************** */

    /* Srction */
    .section{
        padding: 80px 0;
    }


}
@media (max-width: 767.98px) {

    /* Header */
    .header{
        background: #fff;
    }

    .header__inner{
        z-index: auto;
    }

    /* ************************** */

    /* Nav */
    .burger{
        display: block;
    }
    .menu{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateY(-100%);
        background: #0D5C63;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }
    .menu.active{
        transform: translateY(-100%);
    }
    .menu>*:not(:last-child){
        margin: 0;
        margin-bottom: 30px;
    }
    .menu__link{
        color: #fafafa;
        font-size: 1.8rem;
    }

    /* ************************** */

    /* Services */
    .services__card{
        width: calc(100% / 2 - 30px);
    }

    /* ************************** */

    /* Features */
    .features__card{
        width: calc(100% / 2 - 30px);
    }

    /* ************************** */

    /* Advances */
    .advances__card{
        width: calc(100% / 2 - 30px);
    }

    /* ************************** */

    /* About */
    .about__col:nth-child(2){
        padding-left: 60px;
    }

    /* ************************** */

    /* Clients */
    .images-clients{
        align-items: stretch;
    }
    .images-clients__item{
        width: calc(100% / 3 - 30px);
        align-items: flex-end;
    }

    /* ************************** */

    /* Fuulback */
    .fullback__form{
       flex-basis: 100%;
       margin-top: 20px;
    }

    /* ************************** */

    /* Contacts */
    .contacts__inner{
        margin: 0;
    }
}

@media (max-width: 575.98px) {

    .background-image{
        opacity: 0.4;
    }

    /* Section */
    .section{
        padding: 60px 0;
    }

    /* ************************** */

    /* About */
    .about__col{
        flex-basis: 100%;
    }
    .about__col:nth-child(2){
        padding: 0;
        margin-top: 20px;
    }

    .video{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        background-color: #000;
    }

    /* ************************** */

    /* Clients */
    .images-clients{
        padding: 0;
    }

    /* ************************** */

    /* Fullback */
    .fullback__inner{
        margin: 0;
    }

    /* ************************** */

    /* Contacts */
    .contacts__inner{
        margin: -15px;
    }
    .card-contacts{
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
    .card-contacts_active{
        padding: 53px 0;
    }

    /* ************************** */

    /* Offer-line */
    .offer-line__inner{
        justify-content: center;
        text-align: center;
    }
    .offer-line__button{
        margin-top: 20px;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {

    /* Offer */
    .intro__offer{
        width: 100%;
    }
    .offer__title{
        font-size: 4rem;
    }
    .offer__subtitle{
        font-size: 1.5rem;

    }

    /* Services */
    .services__card{
        width: 100%;
    }

    .features__card{
        width: 100%;
    }

    .advances__card{
        width: 100%;
    }

    .fullback__inner{
        padding: 15px;
    }
    .form-fullback__button{
        width: 100%;
        margin-top: 15px;
        border-radius: 5px;
        padding: 10px 0;
    }
    .form-fullback__input{
        border-radius: 5px;
    }

    .card-contacts{
        width: 100%;
    }

    .footer-copyring__links{
        margin-top: 15px;
    }

}
