*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page__body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.section-head{
    text-align: center;
    padding-bottom: 50px;
}

.section-head__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.section-head__subtitle{
    display: inline-block;
    width: 470px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

/* Header */

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 3;
}

.header__body{
    height: 104px;
    display: flex;
    align-items: center;
}

.header__logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    text-decoration: none;
    margin-right: 131px;
}

.nav__list{
    display: flex;
}

.nav__list>*:not(:last-child){
    margin-right: 21px;
}

.nav__item{
    list-style: none;
}

.nav__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
}

/* Intro */
.intro{
    position: relative;
    background: #eee;

    z-index: 2;
}

.intro__body{
    padding: 184px 0 191px;
}

.intro__main-offer{
    max-width: 398px;
}

.main-offer>*:not(:last-child){
    margin-bottom: 35px;
}

.main-offer__title{
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.main-offer__subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
}

.main-offer__buttons{
    font-size: 0;
}

.main-offer__buttons>*:not(:last-child){
    margin-right: 10px;
}

.main-offer__button{
    border: none;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    border-radius: 37px;
    padding: 10px 36px;
    cursor: pointer;
}

.main-offer__button_bg{
    background: #FF7B47;
    color: #fff;
}

.main-offer__button_border{
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

/* Services */
.services{
    background: #FAFAFA;
    margin-top: -110px;
}

.services__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    z-index: auto;
}
.services__service-card{
    width: calc(100% / 3 - 30px);
    margin: 15px;
}
.service-card{
    background: #fff;
    padding: 40px 35px;
    z-index: 3;
}

.service-card>*:not(:last-child){
    margin-bottom: 10px;
}

.service-card__img{
    max-width: 48px;
    height: 48px;
    background: #000;
}

.service-card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}

.service-card__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

/* Features */
.features{
    padding: 80px 0;
    background: #FAFAFA;
}

.features__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.features__feature-card{
    width: calc(100% / 4 - 30px);
    margin: 15px;
}

.feature-card{
    padding: 30px;
    background: #fff;
    text-align: center;
}

.feature-card>*:not(:last-child){
    margin-bottom: 10px;
}

.feature-card__img{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #000;
}

.feature-card__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.feature-card__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}

/* Advances */

.advances{
    padding: 125px 0 80px;
    background: #FAFAFA;
}

.advances__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.advances__advance-card{
    width: calc(100% / 4 - 30px);
    margin: 15px;
}

.advance-card{
    background: #fff;
}

.advance-card__body{
    padding: 30px;
}

.advance-card__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 15px;
}

.advance-card__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.advance-card__img{
    min-height: 138px;
    background: #000;
}
